{{#each blogs as |blog| }}
<div class="row mb-4 blog">
  <div class="col-md-5">
    <h2>
      <a href="/blog/{{blog.id}}">{{blog.title}}</a>
    </h2>
  </div>
  <div class="col-md-7">
    <h3>{{blog.content}}</h3>
    <p>By: {{blog.user.name}} On: {{format_date blog.date_created}}</p>
    {{log "Blog User ID:" blog.user.id}}
    {{#if (eq blog.user.id ../userId)}}
  <button class="edit">Edit</button>
  {{/if}}
  </div>
</div>
{{/each}}
